.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
}body{
     margin: 0;
     padding: 0;

     background-image: url("/static/images/cover.jpg");
     background-size: cover;
     background-repeat: no-repeat;
 }


