<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-transparent"    >
    <style>
        .circle ul li a {
            position: relative;
            overflow: hidden;
            z-index: 1;
        }
        .circle ul li a:after {
            display: block;
            position: absolute;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '.';
            color: transparent;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            background: transparent;
        }
        .circle ul li a:hover:after {
            -webkit-animation: circle 1.5s ease-in forwards;

        }


    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <div class="container ">
        <a class="navbar-brand" href="/">BlogO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse circle justify-content-center" >
            <ul class="navbar-nav d-flex flex-row gap-3">
                <li class="nav-item"><a class="nav-link" href="/" title="Home" data-placement="bottom"><i class="fa-solid fa-house"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="/myprofile" title="my profile" data-placement="bottom"><i class="fa-solid fa-user"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="/add" title="add post" data-placement="bottom"><i class="fa-solid fa-plus"></i></a></li>
                <li class="nav-item"><a class="nav-link " aria-current="page" href="/ownPosts"  data-placement="bottom" title="my posts"><i class="fa-solid fa-database"></i></a></li>
                <li class="nav-item"><a class="nav-link " aria-current="page" href="/logout"  data-placement="bottom" title="my posts"><i class="fa-solid fa-right-from-bracket"></i></a></li>

            </ul>
        </div>
    </div>
</nav>
</div>

<div th:fragment="footer">
    <footer class=" footer py-5  bg-transparent">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BlogO 2024</p></div>
    </footer>
</div>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        color: black;
        text-align: center;
    }
</style>