<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">BlogO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center text-center" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex flex-row gap-3">
                    <li class="nav-item"><a class="nav-link" href="/" title="Home" data-placement="bottom"><i class="fa-solid fa-house"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/myprofile" title="my profile" data-placement="bottom"><i class="fa-solid fa-user"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/add" title="add post" data-placement="bottom"><i class="fa-regular fa-plus"></i></a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/ownPosts"  data-placement="bottom" title="my posts"><i class="fa-solid fa-database" style="color: #c7c8c9;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div th:fragment="footer">
    <footer class=" footer py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BlogO 2024</p></div>
    </footer>
</div>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
    }
</style>