<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Perso</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div th:each="p:${poste}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/img.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${p.title}"></h5>
                    <p class="card-text" th:text="${p.corpsPost}"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>



        <div class="alert-danger">
            <p th : th:text="${error}"></p>
        </div>


    </div>
</body>
</html>