<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"    >
    <div class="container">
        <a class="navbar-brand" href="#!">BlogO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/Categories">Explore</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to BlogO!</h1>
            <p class="lead mb-0">Share your thoughts with the whole world</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Content for the first column -->
            <div class="card mb-4"  th:each="post : ${poste}">
                <a th:href="@{'/post/'+${post.id}}">

                    <img class="card-img-top " th:src="'data:image/jpeg;base64,' + ${post.img}" alt="Post Image" /></a>

                <div class="card-body">
                    <div class="small text-muted" th:text="${post.theme}"></div>
                    <h2 class="card-title h4" th:text="${post.title}">Post Title</h2>:
                    
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-primary" th:href="@{'/post/' + ${post.id}}">Read more →</a>
                        <form action="/bookMark" th:method="post">
                            <input name="id" id="id" type="hidden" th:value="${post.id}">
                            <button  type="submit"  class="btn btn-primary">
                                BookMark
                            </button>
                        </form>
                    </div>

                </div>
                <div class="card-footer d-flex justify-content-between align-items-center" style="background: white">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" th:attr="data-post-id=${post.id}" th:onclick="'likePost(' + ${post.id} + ')'">Like</button>
                        <span class="ml-2" ></span>
                    </div>
                    <small class="text-muted" th:text="${post.comments.size()} + ' comments'">comments</small>
                    <small class="text-muted" th:text="${post.likers.size()} + ' likes'">likes</small>
                </div>
                <div class="card-footer d-flex justify-content-between" style="background: white">

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Content for the second column -->

            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>

        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BlogO 2024</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>
<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>